body {
  font-family: sans-serif;
  text-align: center;
  margin: 30px;
  background-color: #f0f4f8;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  width: 250px;
  text-align: left;
  cursor: pointer;
}
